.btn {
   display: inline-block;
   padding-inline-start: var(--btnPaddingInline);
   padding-inline-end: var(--btnPaddingInline);
   padding-block-start: var(--btnPaddingBlock);
   padding-block-end: var(--btnPaddingBlock);
   color: var(--colorWhite);
   font: var(--button);
   text-align: center;
   text-transform: uppercase;
   text-decoration: none;
   border-radius: var(--btnRounded);
   border: none;
}

.btn-fill {
   background-color: var(--colorPurple);
}

.btn-outline {
   color: var(--colorPurple);
   border: var(--btnBorder);
   background-color: transparent;
}